SUPABASE_URL=seu_url_do_supabase_aqui
SUPABASE_KEY=sua_chave_do_supabase_aqui
ZAPI_INSTANCE_ID=seu_id_da_instancia_zapi_aqui
ZAPI_TOKEN=seu_token_zapi_aqui
ZAPI_CLIENT_TOKEN=seu_client_token_zapi_aqui